.card {
  padding: 10px 20px;
  h1 {
    display: flex;
    justify-content: center;
  }
}

.float-left {
  display: flex;
  justify-content: right;
}

.white-text {
  color: white;
}

.empty{
  margin: 30px;
}
