<c-container>
  <c-row [xs]="2">
    <c-col><c-card>
        <img cCardImg="top" src="./assets/member_1.jpg">
        <c-card-body>
          <h4>ชื่อนักศึกษา : นาย สรจินต์ อินทร์ธิราช </h4>
          <h5>รหัสนักศึกษา : 64041308122</h5>
        </c-card-body>
      </c-card></c-col>
    <c-col>

      <c-card>
        <img cCardImg="top" src="./assets/member_2.jpg">
        <c-card-body>
          <h4>ชื่อนักศึกษา : นางสาว ชมดาว จารุนัฎ </h4>
          <h5>รหัสนักศึกษา : 64041308108</h5>

        </c-card-body>
      </c-card>

    </c-col>

  </c-row>
</c-container>